@model User
@{
    ViewData["Title"] = "Диалоги";
}

<div class="container">
    <div class="col-md-12 mt-4 p-0">
        <div id="chatroom" class="mb-2">
            @foreach (var dialog in (List<Message>)ViewBag.Dialogs)
            {
				var dialogPhotoUrl = dialog.AuthorId == ViewBag.CurrentUserId ? dialog.Recipient.Avatar : dialog.Author.Avatar;  
			<div class="mt-2 pb-3 border-bottom ">
				<div class="d-flex">
					<div class="col-1">
						<div style="background-image: url('@dialogPhotoUrl'); background-size:cover; background-position:center; width: 70px; height: 70px; border-radius: 100%;"></div>
					</div>
					<div class="col-9">
						<div>
							<b class="w-100">
								@dialog.Author.GetFullName()
							</b>
						</div>
						<div class="d-flex pt-2 align-items-center">
							<div style="background-image: url('@dialog.Author.Avatar'); background-size:cover; background-position:center; width: 40px; height: 40px; border-radius: 100%;"></div>
							<p class="m-0 ml-2">
								@dialog.Text
							</p>
						</div>
					</div>
					<div class="col-2 d-flex align-items-center">
						<div>
							@dialog.CreatedDate.ToString("g")
						</div>
						<div>
							@if (!dialog.isReaded){
								<i class="fas fa-check-circle info-color"></i>
							}
						</div>
					</div>
				</div>
				@*<div class="d-flex">
			<b class="border-bottom w-100">@post.Author.GetFullName()</b>
		</div>
		<div class="d-flex justify-content-between">
			<span>
				@post.Text
			</span>
			<span id="date">@post.CreatedDate.ToString("g")</span>
		</div>*@
			</div>
			}
        </div>
    </div>
</div>
@*<div id="inputForm">
    <div class="row justify-content-center mt-4">
        <input type="text" class="form-control col-md-6 mb-2 mr-sm-2" id="message" placeholder="Введите сообщение">
        <button type="button" id="sendBtn" class="btn btn-dark col-md-2 mb-2">Отправить</button>
    </div>
</div>*@


<script src="/signalr.min.js"></script>
<script>
    let hubUrl = 'https://localhost:5001/dialog';
    const hubConnection = new signalR.HubConnectionBuilder()
        .withUrl(hubUrl)
        .configureLogging(signalR.LogLevel.Information)
        .build();

    hubConnection.start();
</script>