@model TaskInSystem;
@{
    ViewData["Title"] = "Task";
    var user = (User)ViewBag.User;
}

@* таски кнопки следующего действия *@
@* чат системадиалогов* *@


<partial name="../particle/_FileInteraction" />
<partial name="../particle/_FileDroper" />

<section>
    <h1 class="mt-3">@Model.Title</h1>
    <p>Дата создания: @Model.StartDate</p>
    <p>Статус: <span id="status">@Model.Status.GetDisplayName()</span></p>
    <p>Кому: @Model.ToUser</p>
    <p>DeadLine: @Model.DeadLine</p>
    <p>Текст задачи: @Model.Text</p>

    <div class="row mt-2" id="FilesList">
        @foreach (var temp in Model.Files)
        {
            <div class="File @(temp.Сonfirmed == true? "Confirmed":"") col-6 col-sm-3 col-lg-2 text-center mt-3" onclick="EditFile(@temp.Id)">
                <i class="fas fa-check-circle position-absolute" style="right: 36%; top: -12px; color: greenyellow;"></i>
                <i class="fas fa-file" style="font-size: 30px"></i>
                <p class="name">
                    @temp.Name
                </p>
            </div>
        }
    </div>

    <div>
        <div id="fileBasket" class="filebasket">
            <i class="fas fa-cloud-upload-alt"></i>
        </div>
    </div>

    <div class="setStatus row mt-3 mb-4">
        <div class="container">
            @if (Model.Status != TaskInSystem.TaskStatus.Active)
            {
                <button class="btn btn-dark col-md-2" onclick="SetTaskStatus(1)">Активировать</button>
            }
            @if (Model.Status >= TaskInSystem.TaskStatus.Active)
            {
                <button class="btn btn-dark col-md-2" onclick="SetTaskStatus(2)">Остановить</button>
            }
            @if (Model.Status >= TaskInSystem.TaskStatus.Active)
            {
                <button class="btn btn-dark col-md-2" onclick="SetTaskStatus(3)">Подтвердить</button>
            }
            @if (Model.Status >= TaskInSystem.TaskStatus.Active)
            {
                <button class="btn btn-dark col-md-2" onclick="SetTaskStatus(4)">Завершить</button>
            }
        </div>
    </div>

</section>
<section>
    <div class="comments mt-2">
        <div class="commentsList">
            @foreach (var temp in Model.Comments)
            {
                <div class="comment mt-2">
                    <div>@temp.Text</div>
                    <div>@temp.CreateDate</div>
                    <div>@temp.User.GetFullName()</div>
                </div>
            }
        </div>
        <div class="addComments mt-4">
            <div>
                <label for="commentInput">Добавить комментарий:</label>
                <input type="text" class="form-control" id="commentInput" />
            </div>
            <div>
                <button class="btn-dark btn mt-2" onclick="addComment()">Отправить</button>
            </div>
        </div>
    </div>
</section>


<script>
    function SetTaskStatus(status) {
        var data = new FormData();
        data.append("status", status);
        data.append("taskId", @Model.Id);

         $.ajax({
            type: "POST",
            url: "@Url.Action("SetTaskStatus", "Home")",
            contentType: false,
            processData: false,
            data: data,
            success: function () {
                setTimeout("location.reload();", 300);
            },
            error: function () {
                toastr["error"]("Произошла ошибка при смене статуса")
            },
            beforeSend: function () {
                $("#progress").show();
            },
            complete: function () {
                $("#progress").hide();
            }
        });
    }

    function addComment() {
        var data = new FormData();
        data.append("taskId", @Model.Id);
        data.append("text", $("#commentInput").val());
        data.append("userId", @user.Id);

        $.ajax({
            type: "POST",
            url: "@Url.Action("AddCommentInTask","Home")",
            contentType: false,
            processData: false,
            data: data,
            success: function (names) {
                $(".commentsList").append(`
                <div class="comment mt-2">
                    <div class="mt-2">`+ $("#commentInput").val() +`</div>
                    <div>@DateTime.UtcNow</div>
                    <div>@user.GetFullName()</div>
                </div>`);
                $("#commentInput").val("");
            },
            error: function () {
                toastr["error"]("Произошла ошибка при загрузке файлов")
            },
            beforeSend: function () {
                $("#progress").show();
            },
            complete: function () {
                $("#progress").hide();
            }
        });
    }
</script>